body {
    background-color: #050e35;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #4441d1;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    border-radius: 20px;
    height: 30px;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}